@media screen and (max-width: 1170px){
    
    #nav_list, #navbar .btn_default {
        display: none;
    }
    
    #btn_mobile {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 11px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav_item {
        list-style: none;
        text-align: center;
    }

}